<!DOCTYPE html>
<html>
<div class="app">
<head>
    
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Movie Title Generator</title>
    

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/login">Login</a>
        </div>
    <div class="main-title">
         <h1>Movie 🎬🎬🎬 <br/>Title 🎬🎬🎬🎬<br/>Generator 🎬</h1>
        
    </div>


</head>

<body>
    <div id="signup" class="login-div">
        <div id="signup-div">
        
        <form class="login" method = "POST" action="/login">
        <h1 id="login-title">Sign in</h1>
        <div class="error-msg">{{errormsg}}<br/><br/></div>
        

        <div class="login-form">
            <input id="user-input-box" id="username" name="username" type="text" required placeholder="Username"> 

        <br/><br/>
            <input id="user-input-box" id="password" name="password" type="text"  style="-webkit-text-security: circle" required placeholder="Password"> 
        </div>

<!---
         <div>
            <label for="email">E-mail</label> 
            <input id="email" name="email" type="text" required> 
        </div>
  -->  <div class="login-buttons">
            <div id="login-button">
                <button type="submit">Login</button>
            </div>
            <div id="login-button">
                <a id="register" href="/register">Register</a>
        </form>
            </div>
        
        </div>



    </div>
    


    <script defer type="text/javascript" src="client.mjs"></script>
</body>
</div>
</html>