<!DOCTYPE html>
<html>
<head>
    
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Movie Title Generator</title>

    

        <div class="topnav">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <a href="/login">Login</a>
        </div>

    <div class="main-title">
         <h1>Movie 🎬🎬🎬 <br/>Title 🎬🎬🎬🎬<br/>Generator 🎬</h1>
        
    </div>


</head>

<body>
    <div id="signup">
        <div id="signup-div">
            
            <form class="register" method = "POST" action="/register">
            <h1 id="login-title">Register</h1>
            <div class="error-msg">{{errormsg}}<br/><br/></div>
            <div class="login-form">
                <input id="user-input-box" id="username" name="username" type="text" required placeholder="Username"> 
        
                <br/><br/>
                <input id="user-input-box"  id="password" name="password" type="text" style="-webkit-text-security: circle" required placeholder="Password"> 
            </div>

            <form class="login" method = "POST" action="/login">
        
        
<!--
         <div>
            <label for="email">E-mail</label> 
            <input id="email" name="email" type="text" required> 
        </div>
     -->   

       <div class="login-buttons">
            <div id="login-button">
                    <a id="register" href="/register">Register</a>
            </form>
            </div>
            
        
        </div>

    </div>
    


    <script defer type="text/javascript" src="client.mjs"></script>
</body>
</html>