
.topnav a:hover {
    background-color: lightblue;
    color: blue;
}


.main-content {
    text-align: center;
    position: relative;
    padding-top: 20px;

}

.main-title{
    text-align: center;
    background-color: gainsboro;
    box-shadow: 0px 6px 12px;
    font-size: 2em;

}

body {
	background-color: lightcyan;
	
}

a {
    text-decoration: none;
    margin-left: 15px;
}

#generate-button {
    align-items: center;
    padding: 24px 64px;
    background-color: lightblue;
    font-size: 1em;
    box-shadow: 0px 6px 12px;
    border-style: none;
}


.register, .login{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 50px 30px;
    background-image: linear-gradient(to bottom, gainsboro, lightgrey);
    box-shadow: 0px 6px 12px;
    border-radius: 16px;

}





.flex-container {
    display: flex;
    
}

#saved-items {
    text-align: center;
}

#user-form {
    text-align: center;

    padding: 15px 32px;
    margin-right: 30px;
    margin-left: 15px;
    
}

#save-your-own-list, #user-likes-list{
    list-style: none;
    padding: 0;
    text-align: center;
}

.remove {
    cursor: pointer;
    top: 50%;
    right: 90%;
    padding: 2px 8px;
    transform: translate(0%, -50%);
    font-family: Arial, Helvetica, sans-serif;
}

.remove:hover {
    background-color: lightgrey;
}



#like-button{
    background-color: pink;
    padding: 24px 64px;
    box-shadow: 0px 6px 12px;
    border-style: none;
}

#generated-title {
    font-size: 4em;

}


#login-button{
    background-color: gainsboro;
    padding: 5px 10px;
}

.error-msg {
    padding: 10px 15px; 
    background-color: white;
    border-radius: 8px; 
    margin-bottom: 15px;
    color: red;
    box-shadow: 0px 6px 12px;
    
}



